{% extends "base.html" %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Profile{% endblock %}
{% block nav_user %}
  {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
      <li id="nav-username"><a href="{% url 'demo.views.profile' %}">
        <span class="glyphicon glyphicon-user"></span>  {{ user.get_username }} &nbsp; </a>
      </li>
      <li>
        <a href="{% url 'django.contrib.auth.views.logout' %}">Sign out</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}
{% block content %}
<div class="container">
  <h1>Profile</h1>
  <h2>{{ user.get_username }}</h2>
  <p>{{ user.get_full_name }}</p>
</div>
{% endblock %}
